{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Google Forms CLONE{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'index/HurlUI.css' %}">
    <link rel="stylesheet" href="{% static 'index/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'posts/post.css' %}">
        {% load bootstrap4 %}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}

    <style>

    </style>

    {% block script %}
    {% endblock %}

</head>
<body>

  <nav class="navbar sticky-top navbar-expand navbar-light bg-white" style="height: 15vmin;">
      <div class="container" style="padding-left=-10vw; margin-top: -0vmin; margin-left: -0vmin;">
          <div class="col-auto" id="posts" style="margin-top: 0vmin;margin-left: 0vw;">
              <b-button v-b-toggle.sidebar-backdrop variant="light">☰</b-button>
                <b-sidebar
                  id="sidebar-backdrop"
                  title="Sidebar with backdrop"
                  :backdrop-variant="variant"
                  no-header
                  backdrop
                  shadow>
<!--                    search bar-->
                    <div class="container">
                        <form method='POST' style="margin-top: 5.5vmin;">
                        {% csrf_token %}
                        {{ postFilter.form.title }}
                        <button class="btn btn-outline-light" style="margin-top: -9.5vmin; margin-left: 37.5vmin;" type="submit"><img class="search-img" src="{% static 'search.svg' %}"></button>
                        </form>
                    </div>

                    <ul class="nav flex-column">

                        <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#demo1">
                            <img class="rounded-circle article-img" src="{% static 'DNA.png' %}">
                            Primer
                        </button>
                        <div id="demo1" class="collapse">
                            <li><a class="dropdown-item" href="{% url 'primerinput' %}">Primer Input</a></li>
                            <li><a class="dropdown-item" href="{% url 'primer' %}">Primer List</a></li>
                            <li><a class="dropdown-item" href="{% url 'seqvector' %}">Seq. Extract</a></li>
                        </div>

                        <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#demo2">
                            <img class="rounded-circle article-img" src="{% static 'protocols.jpg' %}">
                            Protocols
                        </button>
                        <div id="demo2" class="collapse">
                            <li><a class="dropdown-item" href="{% url 'protocols_TPM' %}">TPM</a></li>
                            <li><a class="dropdown-item" href="{% url 'protocols_FRET' %}">FRET</a></li>
                            <li><a class="dropdown-item" href="{% url 'protocols_CoSMoS' %}">CoSMoS</a></li>
                            <li><a class="dropdown-item" href="{% url 'protocols_OT' %}">OT</a></li>
                        </div>

                        <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#demo3">
                            <img class="rounded-circle article-img" src="{% static 'journal.jpeg' %}">
                            Journal Club
                        </button>
                        <div id="demo3" class="collapse">
                            <li><a class="dropdown-item" href="{% url 'JCcreate' %}">Create</a></li>
                            <li><a class="dropdown-item" href="{% url 'JC' %}">View</a></li>
                        </div>

                        <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#demo4">
                            <img class="rounded-circle article-img" src="{% static 'form.png' %}">
                            Lab Common
                        </button>
                        <div id="demo4" class="collapse">
                            <li><a class="dropdown-item" href="{% url 'fileupload' %}">Upload files</a></li>
                            <li><a class="dropdown-item" href="{% url 'index' %}">Forms</a></li>
                        </div>

                        <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#demo5">
                            <img class="rounded-circle article-img" src="{% static 'links.png' %}">
                            Other Links
                        </button>
                        <div id="demo5" class="collapse">
                            <li><a class="dropdown-item" href="https://teamleogo1017.slack.com/">Slack</a></li>
                            <li><a class="dropdown-item" href="https://drive.google.com/drive/u/1/my-drive">Google Drive</a></li>
                            <li><a class="dropdown-item" href="https://calendar.google.com/calendar/u/1/r?pli=1">Google Calendar</a></li>
                            <li><a class="dropdown-item" href="https://www.dropbox.com/home">Dropbox</a></li>
                            <li><a class="dropdown-item" href="https://sites.google.com/site/hwlilab/">Lab's Website</a></li>
                        </div>

                        <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#demo6">
                            <img class="rounded-circle article-img" src="{% static 'github.png' %}">
                            Source code
                        </button>
                        <div id="demo6" class="collapse">
                            <li><a class="dropdown-item" href="https://github.com/hwligroup">Github</a></li>
                        </div>
                    </ul>
                </b-sidebar>
          </div>
          <div class="col-auto" style="margin-left: -5.0vmin; padding-left: -0vmin;">
              <a href="{% url 'homepage' %}"><img class="ntu-img" src="{% static 'lab_icon5.png' %}"></a>
          </div>
          <div class="col-auto align-self-end" style="margin-top: -5vmin; margin-left: 0vmin;">
              <dd class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {% if user.is_authenticated %}
                      <img class="rounded-circle article-img" style="margin-top: -0.0vmin;" src="{{ user.profile.image.url }}">
                  </a>
                      <dl class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <dd><a class="dropdown-item" href="{% url 'postcreate' %}">Create</a></dd>

                          <dd><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></dd>
                          <dd><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></dd>
                      </dl>
                      {% else %}
                      <img class="rounded-circle article-img" style="margin-top: -0.0vmin;" src="{% static 'blank.jpg' %}"></a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                      </ul>
                      {% endif %}
              </dd>
          </div>
      </div>
  </nav>


    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}


    {% block body %}
    {% endblock %}







   <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script>
      $('.sub-menu ul').hide();
        $(".sub-menu a").click(function () {
            $(this).parent(".sub-menu").children("ul").slideToggle("100");
            $(this).find(".right").toggleClass("fa-caret-up fa-caret-down");
        });
      </script>

<!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script>
      new Vue({ el: '#posts' });
    </script>
</body>
</html>