{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

      <link rel="stylesheet" type="text/css" href="{% static 'posts/post.css' %}">
      <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />


    <style>


    </style>

  </head>

  <body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
    <div class="row justify-content-between" style="margin:0 0 0 30px">
      <a class="navbar-brand" aria-current="page" href="{% url 'homepage' %}"><h3>NTU | Hung-Wen Li's Lab </h3>
      </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Primer
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'primerinput' %}">Primer Input</a></li>
                <li><a class="dropdown-item" href="{% url 'primer' %}">Primer List</a></li>
                <li><a class="dropdown-item" href="{% url 'seqvector' %}">Seq. Extract</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Protocols
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'protocols_TPM' %}">TPM</a></li>
              <li><a class="dropdown-item" href="{% url 'protocols_FRET' %}">FRET</a></li>
              <li><a class="dropdown-item" href="{% url 'protocols_CoSMoS' %}">CoSMoS</a></li>
              <li><a class="dropdown-item" href="{% url 'protocols_OT' %}">OT</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Source code
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="https://github.com/hwligroup">Github</a></li>
<!--                <li><a class="dropdown-item" href="#">TPM</a></li>-->
<!--                <li><a class="dropdown-item" href="#">FRET</a></li>-->
<!--                <li><a class="dropdown-item" href="#">CoSMoS</a></li>-->
<!--                <li><a class="dropdown-item" href="#">OT</a></li>-->
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Journal Club
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'JCcreate' %}">Create</a></li>
              <li><a class="dropdown-item" href="{% url 'JC' %}">View</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Lab Common
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Lab Schedule</a></li>
              <li><a class="dropdown-item" href="{% url 'index' %}">Forms</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Other Links
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="https://teamleogo1017.slack.com/">Slack</a></li>
              <li><a class="dropdown-item" href="https://drive.google.com/drive/u/1/my-drive">Google Drive</a></li>
              <li><a class="dropdown-item" href="https://calendar.google.com/calendar/u/1/r?pli=1">Google Calendar</a></li>
              <li><a class="dropdown-item" href="https://www.dropbox.com/home">Dropbox</a></li>
              <li><a class="dropdown-item" href="https://sites.google.com/site/hwlilab/">Lab's Website</a></li>
            </ul>
          </li>
        </ul>
                <form class="d-flex ">
                 {% if user.is_authenticated %}
                  <a class="nav-link" href="{% url 'postcreate' %}">Create Post</a>
                  <a class="nav-link" href="{% url 'categorycreate' %}">Create Category</a>
                  <a class="nav-link" style="padding:14px 0 0 0px" href="{% url 'profile' %}">Profile</a>
                  <a class="nav-link" style="padding:14px 0 0 0px" href="{% url 'logout' %}">Logout</a>
                  {% else %}
                  <a class="nav-link" style="padding:14px 0 0 0px" href="{% url 'login' %}">Login</a>
                  <a class="nav-link" style="padding:14px 0 0 0px" href="{% url 'register' %}">Register</a>
                  {% endif %}
                </form>
            </div>
        </ul>
      </div>
        </div>
    </div>
          </div>
  </nav>
  <main role="main" class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    <div class="row justify-content-between">
      <div class="col-md-12">
        {% block content %}{% endblock %}
      </div>
    </div>

  </main>





    <div id="copyright">
    <div class="container">
      <div class="row-fluid">
        <div class="row-fluid">
          <div class="copyright-text copyright-left">
                        &copy; xxxxxxxxxxxxxxxx | <a href="/admin">admin login</a>                      </div>
          <div class="textright copyright-right">

<!--		  <style>-->
<!--		    .credits {-->
<!--		      float: right;-->
<!--		      text-align: right;-->
<!--		      xfont-size: 12px;-->
<!--		      color: #64696d;-->
<!--		      xmargin-top: -.5em;-->
<!--		    }-->
<!--		    .logo {-->
<!--		      display: inline-block;-->
<!--		      position: static;-->
<!--		      margin: 0;-->
<!--		      xline-height: 79px;-->
<!--		      text-align: left;-->
<!--		    }-->
<!--		    .credits .logo img {-->
<!--		      width: 18px;-->
<!--		      height: 18px;-->
<!--		      xmargin-top: -4px;-->
<!--		      margin-left: 4px;-->
<!--		    }-->
<!--      </style>-->

      <div class="credits">
          xxxxxxxxxxxxxxxxxx
      </div>

            <!-- Top Bar Social Icons END -->
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
<!-- end copyright -->

</div>
<!-- End Boxed Layout -->
<script id="accessibility-widget-loader" data-account="AM9nYaJOao" src="https://cdn.userway.org/widget.js"></script><link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" type="text/css" media="all">

		<script type="text/javascript">
		if(typeof revslider_showDoubleJqueryError === "undefined") {
			function revslider_showDoubleJqueryError(sliderID) {
				var err = "<div class='rs_error_message_box'>";
				err += "<div class='rs_error_message_oops'>Oops...</div>";
				err += "<div class='rs_error_message_content'>";
				err += "You have some jquery.js library include that comes after the Slider Revolution files js inclusion.<br>";
				err += "To fix this, you can:<br>&nbsp;&nbsp;&nbsp; 1. Set 'Module General Options' ->  'jQuery & OutPut Filters' -> 'Put JS to Body' to on";
				err += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jQuery.js inclusion and remove it";
				err += "</div>";
			err += "</div>";
				jQuery(sliderID).show().html(err);
			}
		}
</script>


<!-- End footer -->


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->





  </body>
</html>