
{% extends 'posts/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form action='' method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create Your Post</legend>
                <div class="row">
                    <div class="col-6">
                        {{ form.title|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.category|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.file }}
                    </div>
                </div>
                {{ form.content|as_crispy_field }}
            </fieldset>
            <p></p>
            <div>
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}

